# {{ name }}

## Project Information

* Application Name: `{{ name }}`
* Application Group: {{ group }}
* Stakeholders:
  * Primary: {{ primary }}
  * Secondary: {{ secondary }}
* Network Type: {{ networktype }}
* Cost Center: {{ costcenter }}

### Dev Account Details
* Account Number: `{{ devaccountnumber }}`
* Organizations Path: {{ devorgpath }}

### Test Account Details
* Account Number: `{{ testaccountnumber }}`
* Organizations Path: {{ testorgpath }}

### Staging Account Details
* Account Number: `{{ stagingaccountnumber }}`
* Organizations Path: {{ stagingorgpath }}

### Prod Account Details
* Account Number: `{{ prodaccountnumber }}`
* Organizations Path: {{ prodorgpath }}