# Managed Security Pipeline {{ alias }}

* "AccountAlias": {{ alias }}
* "ApplicationEnvironment": {{ env }}
* "ApplicationGroup": {{ group }}
* "ApplicationId": {{ Id }}
* "ApplicationName": {{ name }}
* "ApplicationNetworkType": "internet-only",
* "ApplicationPrimaryStakeholder": {{ primary }}
* "ApplicationSecondaryStakeholder": {{ secondary }}